@import "./logovans";
@import "./cartwidget";

@mixin flexDs($fx, $fd, $ai, $jc) {
    display: $fx;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    @include flexDs(flex, row, center, space-between);
    padding-left: 2rem;
    padding-right: 2rem;

    .navegation {
        font-size: 1rem;
        padding: 1rem;
        text-decoration: none;
    }
}