@import 'mixins';

.cart-container {
    @include displayFlex (column, center, center);
    gap: 1rem;
    
    @media screen and (max-width: 575px) {
        width: 20rem;
        margin: 5rem;
        margin-top: 0;
    }
    
    .cart-container-listProducts {
        @include displayFlex (row, space-between, center);
        border-radius: 1rem;
        width: 50rem;
        box-shadow: 1px 1px 1px 1px rgb(90, 84, 84);
        
        @media screen and (max-width: 575px) {
            width: 28rem;
            padding: 0.5rem;
        }
        
        .cart-container-listProducts-image {
            padding: 1rem;
            border-radius: 1rem;
            width: 8rem;

            @media screen and (max-width: 575px) {
                width: 5rem;
            }
        }
        
        .cart-container-text {
            margin: 1rem;
            @media screen and (max-width: 575px) {
                width: auto;
                > * {
                    text-align: start;
                }
            }
        }

        .cart-container-action {
            @include displayFlex (column, center, center);
            > * {
                margin: 0.5rem;
            }
        }
    }

    .cart-container-total {
        @include displayFlex (column, center, center);
        
        @media screen and (max-width: 575px) {
            width: 30rem;
            margin: 5rem;
            margin-top: 0;
        }
        
        .cart-container-total-alert {
            @include displayFlex (column, center, center);
            gap: 1rem;
        }

        .cart-container-total-finalizar {
            @include displayFlex (column, center, center);

            .cart-container-total-finalizar-action {
                > * {
                    margin: 0.5rem;
                }
            }
        }
    }
}