@import 'mixins';

.itemDetail-container {
    @include displayFlex (row, center, center);
    margin: 20rem;
    margin-top: 5rem;
    
    @media screen and (max-width: 575px) {
        margin: 10rem;
        margin-top: 2rem;
        
    }

    .detail-container {
        @include displayFlex (row, center, flex-start);
        box-shadow: 1px 1px 1px 1px #999;
        border-radius: 1rem;
        padding: 0.5rem;
        gap: 1rem;
        
        @media screen and (max-width: 575px) {
            @include displayFlex (column, center, center);
        }
        
        .detail-container-image {
            border-radius: 1rem;
            
            @media screen and (max-width: 575px) {
                width: 12rem;
            }
        }

        .detail-container-action {
            padding: 1rem;
        }
    }
}