@import 'mixins';
@import 'fonts';

.itemList-container {
    margin: 1rem;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 20rem);

    @media screen and (max-width: 575px) {
        display: grid;
        grid-template-columns: repeat(2, 10rem);
        gap: 3rem;
    }

    .item-container {
        @include displayFlex (column, space-between, center);
        border-radius: 1rem;
        box-shadow: 1px 1px 5px 1px #000;
        margin: 1rem;
        padding: 0.5rem;
        text-align: center;

        @media screen and (max-width: 575px) {
            width: 12rem;
            max-height: 25rem;
        }

        .item-container-image {
            width: 15rem;
            border-radius: 1rem;

            @media screen and (max-width: 575px) {
                width: 10rem;
            }
        }

        .item-container-text {
            @media screen and (max-width: 575px) {
                width: 10rem;
            }
        }
    }
}
