.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
    max-width: 60rem;
    
}
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.imgDetail {
    margin: 1rem;
    width: 400px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link {
    text-decoration: none;
}