@import "../navbar/navbar.scss";

.Detail-Container {
    @include flexDs(flex, row, center, center);
    
    .Detail-Card {
        display: grid;
        grid-template-columns: 30rem 20rem;
        
        margin: 1rem;
        
        .Detail-Paper {
            @include flexDs(flex, row, center, center);
        }
        
        .Detail-Content {
            @include flexDs(flex, column, center, center);
        }
    }
}
