@import "../navbar/navbar.scss";

.container {
        @include flexDs(flex, row, center);

        .cardDetail {
                @include flexDs(flex, row, center);

                margin: 1rem;
                padding: 1rem;
                
                .imgContext {
                        .img {
                                @include flexDs(flex, row, flex-start);
                                
                                width: 25rem;
                                height: 25rem;
                        }
                }
                
                .content {
                        @include flexDs(flex, column, flex-start)
                }
        }
}