.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 30px #bebebe, -0 -0 30px #ffffff;
}

.section {
    display: flex;
    flex-direction: row;
    
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}

.li {
    color: #978f8f;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Boogaloo', cursive;
    transition: all 0.5s ease;
}

.li:hover {
    font-size: 1.55rem;
    color: red
}