@import "../item/item.scss";

.containerList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: minmax(250px, auto);
    grid-auto-flow: dense;
    
    gap: 1rem;
    padding: 1rem;
}
